<p-dataTable [value]="users">
    <p-header> List of all users </p-header>
    <p-column field="userName" header="User Name" [filter]="true" [style]="{'width':'200px'}" ></p-column>
    <p-column field="email" header="Email" [filter]="true" [style]="{'width':'200px'}" ></p-column>
   
    <p-column header = "Following me" [style]="{'width':'100px'}">
        <ng-template let-user="rowData" pTemplate="body">
           
            <p-inputSwitch (onChange)="handleChange($event)" [(ngModel)]="user.followingMe" disabled=true> </p-inputSwitch>
        </ng-template>
    </p-column>
    <p-column header = "I follow" [style]="{'width':'100px'}">
      <ng-template let-user="rowData" pTemplate="body">
          <!-- <div *ngIf="user.followedByMe==false"><i class="fa fa-edit" (click)="followUser(user)" ></i></div>
          <div *ngIf="user.followedByMe==true"><i class="fa fa-check" (click)="unfollowUser(user)" ></i></div> -->

          <p-inputSwitch (onChange)="handleChange($event, user.id)" [(ngModel)]="user.followedByMe"> </p-inputSwitch>
      </ng-template>
    </p-column>
  </p-dataTable>
